body{
      background-color:#ffffff;
}
article{
      background-color:#ce1026;
}
section{
      text-align: center;
      font-size: 7rem;
      height:200px;
      color: #ffffff;
}
.sec{
      font-size: 7rem;
      text-align: center;
      background-color:#ffffff;
      height: 290px;
      width: 15%;
      border-radius: 50%;
      position: relative;
      left: 800px;
      top:30px;

}
.esc{
      background-color:#ce1026;
      height: 240px;
}
div{
      background-color: #0f0f85;
      height: 350px;
}